
{% if client %}
{% for clients in client %}
    <h1>Bonjour {{ clients.ccPrenom }}  {{ clients.ccNom }}</h1>
    <p>Votre adresse mail de connexion est  :{{ clients.ccMail }}</p>
    <p>Votre mot de passe est  :{{ clients.ccPass }}</p>
{% endfor %}
{% else %}
    <h1>Bonjour </h1>
    <p>Votre adresse mail de connexion est  :</p>
    <p>Votre mot de passe est  :</p>

{% endif %}