<div class='update-icon cursor'>


    <div id="add-modal-client">
        Ajouter <i class="add icon"></i>
    </div>


    <div class="ui modal add">
        <i class="close icon"></i>
        <div class="header">
            <i class="add user icon"></i>
            Ajouter un nouveau client
        </div>
        <div class="content">

            <div class="ui equal width form">
                <div class="fields">
                    <div class="field">
                        <label>Raison sociale</label>
                        <input type="text" placeholder="Raison sociale de l'entreprise">
                    </div>
                    <div class="field">
                        <label>Siret</label>
                        <input type="text" placeholder="Numero de siret de l'entreprise">
                    </div>
                    <div class="field">
                        <div class="ui label"><i class="id card outline icon"></i> RERD-RZERZ </div>

                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Adresse</label>
                        <input type="text" placeholder="Adresse de l'entreprise">
                    </div>
                    <div class="field">
                        <label>Ville</label>
                        <input type="text" placeholder="Ville de l'entreprise">
                    </div>
                    <div class="field">
                        <label>Code postal</label>
                        <input type="text" placeholder="Code postal de l'entreprise">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Téléphone</label>
                        <input type="text" placeholder="Numero de téléphone de l'entreprise">
                    </div>
                    <div class="field">
                        <label>Mail</label>
                        <input type="text" placeholder="Adresse mail de l'entreprise">
                    </div>
                    <div class="field">
                        <label>Code postal</label>
                        <input type="text" placeholder="Code postal de l'entreprise">
                    </div>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="isAdh">
                    <label>Cet utilisateur est-il Adhérent ?</label>
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="positive ui button"><i class="save icon"></i> Enregistrer</button>

        </div>

    </div>


</div>