<div class="container-client-liste">
    <div class="toolbar-client-liste">
        <div class="new-client-liste">
            <h1>Nouveau</h1>
            <p></p>
        </div>
        <div class="export-client-liste">
            <h1>Exporter</h1>
            <p></p>
        </div>
        <div class="update-client-liste">
            <h1>Modifier</h1>
            <p></p>
        </div>
    </div>
</div>