<div class="menu-crm-group">

    <div class="mui-panel title-ui">
        <div class="mui--text-headline push-left black ">Gestion client</div>
        <img class="push-right" src="{{ asset('Public/images/client.png') }}" alt="crm">

    </div>

    <div class="mui-panel title-ui">
        <div class="mui--text-headline push-left black ">Gestion fournisseur</div>
        <img class="push-right" src="{{ asset('Public/images/fournisseur.png') }}" alt="crm">
    </div>

</div>
<div class="mui-divider"></div>


<script>

    $('.title-ui').on('click', function (e) {

        switch (e.currentTarget.innerText) {
            case 'Gestion fournisseur':
                console.log('crm');
                break;
            case 'Gestion client':
                window.location.replace("{{ path('vue_alll') }}");

                break;
        }

    });

    $('.title-ui').hover(function () {
        $(this).css( 'cursor', 'pointer' );

    });



</script>