<div class="mui-row">
    <div class="mui-col-md-4">
        <a href="{{ path('vue_alll') }}">

            <div class="mui-panel card cursor mui-btn--raised">
                <div class="">
                    <div class="mui--text-headline mui--text-center title-ui ">Gestion Client</div>
                </div>
            </div>
        </a>
    </div>





    <div class="mui-col-md-4">
        <a href="http://google.com">

            <div class="mui-panel card cursor mui-btn--raised">
                <div class="">
                    <div class="mui--text-headline mui--text-center black title-ui">Gestion Fournisseur</div>
                </div>
            </div>
        </a>
    </div>
</div>