<div class="ui three column divided grid">
    <div class="row">
        <div class="column">
            <div class="ui  feed">
                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui  feed">
                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui  feed">

                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui  feed">

                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui  feed">

                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui  feed">
                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui  feed">

                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui  feed">

                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui  feed">
                <div class="event">
                    <div>
                        <img class="ui tiny circular image avatar-feed"
                             src="https://semantic-ui.com/images/avatar/small/elliot.jpg">

                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if you can.
                        </div>
                        <div class="meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

