<div class="mui-row">
    <div class="mui-col-md-4">
        <div class="mui-panel card cursor mui-btn--raised">
            <div class="">
                <div class="mui--text-headline mui--text-center ">CRM</div>
                <img class="logo-crm" src="{{ asset('bundles/framework/images/icon-crm.png') }}" alt="crm-logo">
            </div>
        </div>
    </div>
    <div class="mui-col-md-4">
        <div class="mui-panel card cursor mui-btn--raised">
            <div class="">
                <div class="mui--text-headline mui--text-center">Stats</div>
                <img class="logo-crm" src="{{ asset('bundles/framework/images/icon-stat.png') }}" alt="stats-logo">
            </div>
        </div>
    </div>
    <div class="mui-col-md-4">
        <div class="mui-panel card cursor mui-btn--raised">
            <div class="">
                <div class="mui--text-headline mui--text-center">Gestion</div>
                <img class="logo-crm" src="{{ asset('bundles/framework/images/icon-gestion.png') }}" alt="gestion-logo">

            </div>
        </div>
    </div>
</div>