<div class="menu-crm-group">


    <div class="mui-panel title-ui">
        <div class="mui--text-headline push-left black ">CRM</div>
        <img class="push-right" src="{{ asset('Public/images/crm.png') }}" alt="crm">
    </div>
    <div class="mui-panel title-ui">
        <div class="mui--text-headline push-left black ">Stats</div>
        <img class="push-right" src="{{ asset('Public/images/stat.png') }}" alt="crm">

    </div>

</div>
<div class="mui-divider"></div>


<script>

    $('.title-ui').on('click', function (e) {

        switch (e.currentTarget.innerText) {
            case 'CRM':
                console.log('crm');
                window.location.replace("{{ path('crm_home') }}");
                break;
            case 'Stats':
                window.location.replace("{{ path('index_auth') }}");
                break;
        }

    });

    $('.title-ui').hover(function () {
        $(this).css( 'cursor', 'pointer' );

    });





</script>