<div class="recherche">
    
    <div class="ajout">
        <div class="boule-verte"></div>
        <input type="text" placeholder="Recherche">
    </div>

    <div class="ajout">
        <div class="loupe">
            🔍
        </div>
        <input type="text" placeholder="Recherche">
    </div>

    <div class="notification">

    </div>

    
    
</div>




<script>

    $('.title-ui').on('click', function (e) {

        switch (e.currentTarget.innerText) {
            case 'CRM':
                console.log('crm');
                window.location.replace("{{ path('crm_home') }}");
                break;
            case 'Stats':
                window.location.replace("{{ path('index_auth') }}");
                break;
        }

    });

    $('.title-ui').hover(function () {
        $(this).css( 'cursor', 'pointer' );

    });





</script>