<div class="recherche">
    
    <div class="ajout">
        <div class="boule-verte"></div>
        <input type="text" placeholder="Recherche">
    </div>

    <div class="ajout">
        <div class="loupe">
            🔍
        </div>
        <input type="text" placeholder="Recherche">
    </div>

    <div class="notification">

    </div>

    
    
</div>


