<div class="mui-row">
    <div class="mui-col-md-4">
        <div class="mui-panel card">
            <div class="mui--text-headline mui--text-center">Crm</div>
        </div>
    </div>
    <div class="mui-col-md-4">
        <div class="mui-panel card">
            <div class="mui--text-headline mui--text-center">Statistique</div>
        </div>
    </div>
    <div class="mui-col-md-4">
        <div class="mui-panel card">
            <div class="mui--text-headline mui--text-center">Gestion</div>
        </div>
    </div>
</div>