<div class="mui-row">
    <div class="mui-col-md-4">
        <a href="{{ path('crm_home') }}">

        <div class="mui-panel card cursor mui-btn--raised">
            <div class="">
                <div class="mui--text-headline mui--text-center title-ui ">CRM</div>
                <img class="logo-crm" src="{{ asset('bundles/framework/images/icon-crm.png') }}" alt="crm-logo">
            </div>
        </div>
        </a>
    </div>
    <div class="mui-col-md-4">
        <a href="http://google.com">

        <div class="mui-panel card cursor mui-btn--raised">
            <div class="">
                <div class="mui--text-headline mui--text-center black title-ui">Stats</div>
                <img class="logo-crm" src="{{ asset('bundles/framework/images/icon-stat.png') }}" alt="stats-logo">
            </div>
        </div>
        </a>
    </div>
</div>