<div class="mui-appbar mui--z2">
   <div class="mui-container">
      <table width="100%">
         <tbody>
         <tr class="mui--appbar-height">
            <td class="mui--text-title">
                <a id="title-welcome" href="{{ path('index_auth') }}"> <span>Bienvenue {{ app.user }} </span></a></td>
            <td align="right">
               <ul class="mui-list--inline mui--text-body2">
                  <li>  <button class="mui-btn mui-btn--fab picture-settings1"><i class="material-icons icons-settings">&#xE8B8;</i></button></li>
                  <li>  <button class="mui-btn mui-btn--fab picture-settings2"><i class="material-icons icons-poweroff">&#xE8AC;</i></button></li>
               </ul>
            </td>
         </tr>
         </tbody>
      </table>
   </div>
</div>

<script>
    var settings_btn = document.querySelector('.picture-settings1');
    var logout_btn = document.querySelector('.picture-settings2');

    settings_btn.addEventListener('click', function (e) {
        window.location.replace("{{ path('settings') }}");

    });


    logout_btn.addEventListener('click', function (e) {
        window.location.replace("{{ path('logout') }}");

    });

</script>