<header class="ink-navigation">
    <ul class="menu horizontal blue ">
        <li class="push-left" ><a class="menu-header-name" href="#"> Bienvenue {{ user.usPrenom |title }} {{ user.usNom }}</a></li>
        <li ><img class="picture-settings1" src="{{ absolute_url(asset('bundles/framework/images/sliders.png')) }}" alt=""></li>
        <li ><img class="picture-settings2" src="{{ absolute_url(asset('bundles/framework/images/Logout.png')) }}" alt=""></li>
    </ul>
</header>