<div class="mui-appbar mui--z1">
   <div class="mui-container">
      <table width="100%">
         <tbody><tr class="mui--appbar-height">
            <td class="mui--text-title"> Bienvenue {{ user.usPrenom |title }} {{ user.usNom }}</td>
            <td align="right">
               <ul class="mui-list--inline mui--text-body2">

                  <li>  <button class="mui-btn mui-btn--fab"><i class="material-icons icons-settings">&#xE8B8;</i></button></li>
                  <li>  <button class="mui-btn mui-btn--fab"><i class="material-icons icons-poweroff">&#xE8AC;</i></button></li>
               </ul>
            </td>
         </tr>
         </tbody></table>
   </div>
</div>