<header class="ink-navigation">
    <ul class="menu horizontal blue">
        <li><a href="#"> Bienvenue {{ user.usPrenom |title }} {{ user.usNom }}</a></li>
    </ul>



    {{ dump(user) }}

</header>