<div class="container-data">
    <div class="ui divider">

    </div>
    <div class="ui equal width grid">

        <div class="equal width row">



            <div class="column">
                <h4>Dernières log pour le client</h4>
                <table class="ui table">
                    <thead>
                    <tr><th class="five wide">Type action</th>
                        <th class="ten wide">Etat</th>
                        <th class="ten wide">Date</th>
                    </tr></thead>
                    <tbody>
                    {% for logs in log %}
                        <tr>
                            <td><div class="ui label">{{ logs.LO_CODE }}</div></td>
                            <td>{{ logs.LO_DESCR | raw }}</td>
                            <td>{{ logs.INS_DATE | date }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
            <div class="column">
                <h4>Consommation de l'utilisateur</h4>
                <table class="ui table">
                    <thead>
                    <tr><th class="six wide">Produits</th>
                        <th class="six wide">Fournisseur</th>
                        <th class="three wide">Date</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td>Gomme</td>
                        <td>Bruneau</td>
                        <td>12-02-2017</td>
                    </tr>

                    </tbody>

                </table>
            </div>




        </div>
    </div>
</div>