<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
</head>
<body>

<form id="ADHESION" method="post" action="http://crm.achatcentrale.fr/site-ac/adhesion/new" class="form-essai-gratuit">
    <a href="">Gallerie photo</a>

    <label for="societe"> Societe
        <input name="CL_RAISONSOC" type="text" id="societe">
    </label>
    <br>
    <label for="Nom"> Nom
        <input name="CC_NOM" type="text" id="Nom">
    </label>
    <br>
    <label for="mail"> Email
        <input name="CL_MAIL" type="text" id="mail">
    </label>
    <br>
    <label for="tel"> tel
        <input name="CL_TEL" type="text" id="tel">
    </label>
    <br>
    <input type="checkbox" id="check-essai" name="subscribe" value="je ne suis pas un robot">je ne suis pas un robot

    <br>
    <input class="submit-new-client btn-essai-gratuit cursor" type="submit">
    <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>


</form>

</body>
</html>