{% extends 'base.html.twig' %}

{% block title %}
    TAGS - ACHAT-CENTRALE
{% endblock %}

{% block body %}

    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_90">
                <div class="x_content">

                    <div class="ui grid">
                        <div class="one wide column">
                            <i class="search huge icon"></i>
                        </div>
                        <div class="eight wide column hastag_search">
                            <p>#{{ app.request.attributes.get('id') }}</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>



    </div>



    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Clients</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>

            </div>
        </div>



    </div>



    <div class="row">


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Tickets</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Action</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>

            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Notes</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>

            </div>
        </div>


    </div>



{% endblock %}

