img{

    width: 14%;
    margin-left: 42%;
}


h1{
    margin: 1% 1% 3% 39%;

}

form[name]{
    margin-left: 46%;
}

#form_send{
    margin: 15px 10px 10px 10%;
}


#form_email{
    margin-left: 5%;
}

#form_Password{
    margin-left: 2%;
}


.login-group{
    background: #FFFFFF;
    box-shadow: 0 2px 8px 1px rgba(120,120,120,0.50);
    border-radius: 8px;
    width: 30%;
    height: 400px;
    margin: 0 auto;
}