img{

    width: 14%;
    margin-left: 42%;
}


h1{
    margin: 1% 1% 3% 39%;

}

.login-group-input{
    width: 45%;
    margin: 0 auto;
    padding: 41px 1px 1px 1px;
}

.login-group{
    background: #FFFFFF;
    box-shadow: 0 2px 8px 1px rgba(120,120,120,0.50);
    border-radius: 8px;
    width: 30%;
    height: 400px;
    margin: 0 auto;
}

.ink-button.green{
    width: 99%;
}