{% extends 'base.html.twig' %}

{% block body %}

    <div>


        <div class="container-general">
            <div class="container-info-client">
                {% include '@Site/ui-element/general.client/info.client.html.twig' with {'client': client, 'task' : tache, 'user' : user} %}

            </div>
        </div>
    </div>
{% endblock %}

