{% extends 'base.html.twig' %}

{% block body %}

    <div>

        {% include '@Site/ui-element/taches/action.bar.html.twig' %}

        <div class="container-general">
            <div class="container-info-client">
                {% include '@Site/ui-element/general.client/info.client.html.twig' with {'client': client } %}
                {% include '@Site/ui-element/general.client/data.client.html.twig' with {
                'client': client,
                'log': log
                } %}
            </div>



        </div>
    </div>
{% endblock %}