{% extends 'base.html.twig' %}


{% block title %}
{% endblock %}

{% block body %}

    <div>


        <div class="container-general">
            <div class="container-info-client">
               <h1>facturation</h1>
            </div>
        </div>
    </div>
{% endblock %}