{% extends 'base.html.twig' %}

{% block body %}

    <div>



        <div class="container-general">
            <div class="container-info-client">
                {% include '@Site/ui-element/status.client/status.html.twig' with {'client': client } %}

            </div>



        </div>
    </div>
{% endblock %}