{% include 'base.html.twig' %}


{% block body %}

    {#include bandeau header#}
    {{ include ('SiteBundle:Header:Header_home.html.twig') }}





    <div class="container-react-app">


            <div id="app">

            </div>




        {% block javascripts %}

            <script async src={{ asset('app.bundle.js') }} type="text/javascript"></script>

        {% endblock %}
    </div>



{% endblock %}

