{% extends 'base.html.twig' %}

{% block title %} NOM_FOURNISSEUR - General {% endblock %}

{% block body %}




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>FICHE FOURNISSEUR </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="ation-toolbox">


                </div>

                <div class="x_content ">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->







{% endblock %}

