{% include 'base.html.twig' %}


{% block body %}


    <div class="container">

        <table class="ink-table hover">
            <thead>
            <tr>
                <th class="align-left">ID</th>
                <th class="align-left">Raison social</th>
                <th class="align-left">adresse</th>
                <th class="align-left">ville</th>
            </tr>
            </thead>
            <tbody>

            {% for clients in client %}
                <tr>
                    <td>{{ clients.clId }}</td>
                    <td>{{  clients.clRaisonsoc }}</td>
                    <td>{{  clients.clAdresse1 }}</td>
                    <td>{{  clients.clVille }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

