{% include 'base.html.twig' %}


{% block body %}



    <img src="{{ asset('Public/images/logo-achatCentrale.png') }}" alt="Logo">
    <h1>Veuillez vous identifiez</h1>



    <div class="login-group">
        {{ form(form) }}

    </div>

{% endblock %}

