
.donne-client{

    height: 170px;
    margin-left: 17px;
    padding-top: 15px;
}

.cursor{
    cursor: pointer;
}
.tab-tache{
    padding-bottom: 15px;
}

.recap-client {
    margin-top: 12px;
}
.btn-new{
    margin:10px;
}