.img-home{

    width: 14%;
    margin-left: 42%;
    margin-bottom: 55px;
}




.form-login{
    width: 90%;
    margin: 0 auto;
}
.login-group-input{
    width: 45%;
    margin: 0 auto;
    padding: 41px 1px 1px 1px;
}

.login-group{
    background: #FFFFFF;
    box-shadow: 0 2px 8px 1px rgba(120,120,120,0.50);
    border-radius: 8px;
    width: 30%;
    height: 300px;
    margin: 0 auto;
}



.ink-navigation ul.menu.blue {
    background: #1b75ce;
    height: 88px;
}


.menu-header-name{
    margin-top: 20px;
}



.cursor{
    cursor: pointer;
}

#title-welcome{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.icons-settings{
    margin-top: 16px;
    margin-right: 2px;
    color: steelblue;
}



.icons-poweroff{
    margin-top: 16px;
    color: steelblue;
    font-weight: bold;
}

.card{
    width: 68%;
    height: 300px;
    margin-left: 100px;
    margin-top: 92px;
}


.logo-crm{
    width: 50%;
    margin: 8% 0 0 24%;
}

.icon-online{
    color: green;
}


.float-group{
    margin: 14% 7% 1% 1%;
    position: absolute;
    left: 92%;
}


.float-group i {
    margin-top: 16px;
    font-weight: bold;
}




.container{
    width: 95%;
    border: solid 2px;
    margin: 0 auto;
    height:500px;
    overflow: scroll;
}

.header-gestion{
    width: 95%;
    margin: 0 auto;
    height: 200px;
    padding: 10px;
}

.header-gestion h1{
    margin: 10px;
}

.title-ui div{
    color: black;
    margin-top: 30px;
    margin-left: 37px;
    font-family: avenir;
    font-weight: 500;
}
.gestion-btn-group{

}

.new-group-input {
    width: 65%;
    margin: 8px auto;
    padding: 41px 1px 1px 1px;
    margin-left: 28%;
}

td img{
    width: 5%;
}

.btn-login{
    width: 100%;
    margin: 0 auto;
}

.error-login p{
    margin: 10px;
}

.menu-crm-group {
    width: 50%;
    margin: 0 auto;
    padding-top: 33px;
}

footer{
    position: fixed;
    top: 92%;
    background-color: #6998C9;
    width: 100%;
}
.nav-bar{
    width: 15%;
    background-color: #1A2E46;
    height: 100vh;
    text-align: center;
}









body{
     background-color: #F4F4F4 !important;

}




.nav-bar{
    float: left;
}



.menu{
    position: relative;

}

.menu-home p{
    background: url("../images/Home.png") no-repeat 60px 1px;

}

.menu-client p{
    background: url("../images/client.png") no-repeat 60px 1px;
}



.menu-calendrier p{
    background: url("../images/calendrier.png") no-repeat 60px 1px;
    padding-left: 20px;
}

.menu-supplier p{
    background: url(../images/fournisseur.png) no-repeat 20%;
    padding-left: 20px;
    background-size: 33px;
}



.menu a {
    text-decoration: none;
    color: white;
}
.menu a:hover {
    text-decoration: none;
    color: white;
}


.hover{
    padding: 10px 0 2px 0;

}

.hover p:hover{
    background-color: #132233;
    cursor: pointer;
    margin-bottom: 10px;
}


.recherche{
    height:100px;
    width: 85%;
    float: right;
    background-color: white;
    margin-bottom: 40px;

}

.ajout {
    margin-top: 34px;
    margin-left: 12%;
    float: left;
    width: 30%;
    border-bottom: 1px solid black;
}
.ajout input[type="text"] {
    border: none;
    outline: none;
    float: right;
    width: 90%;
}
.boule-verte{
    width: 20px;
    height: 20px;
    float: left;
    background-color: #46EBC6;
    border-radius: 51%;
    margin-left: 13px;
}

.loupe {
    float: left;
}

.notification{
    width: 50px;
    height: 50px;
    float: right;
    border: 5px #D2D2D2 solid;
    margin-top: 24px;
    margin-right: 110px;
    border-radius: 8px;
}

.liste-client {
    width: 82%;
    float: right;
    margin-right: 30px;
    margin-top: 70px;
}

.row-client{
    cursor: pointer;
}

.client-liste{
    width: 75%;
    height:100%;
    background-color: white;
    margin: 16px auto 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 34px;

    justify-content: space-around;
}

.top-client-liste h2 {
    margin-left: 45px;
    margin-top: 38px !important;
}

.top-client-liste p {
    margin-left: 45px;
}



.top-client-liste {
    width: 56%;
    background-color: white;
    border: 3px solid #f4f4f4;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 40px;
    order:1;
    padding: 1px 1px 15px 6px;
}


.photo-client-liste {
    width: 40%;
    margin-top: 32px;
    height: 500px;
    text-align: center;
    order:1;
}

.user-client-liste{
    width: 75%;
    height:100%;
    background-color: white;
    margin: 16px auto 0;
    display: flex;
    flex-wrap: wrap;
}

#accordion h3{
    margin-left: 73px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

#accordion p{
    margin-left: 73px;
}

.block-list-user{
    display: flex;
    text-align: center;
}

td img {
    width: 15%;
    text-align: center;
    margin-left: 110px;
}


.mail-send{
    margin-left: 40px;
    cursor: pointer;
}

.hover-update-client {
    width: 70%;
}

.pencil-update{
    cursor: pointer;
    margin-left: 30px;

}
a.btn-add-client {
    margin-left: 341px !important;
}

.client-add-block{

}

.client-add-block h1 {
    text-align: center;
}
.row-img{
    width: 24%;
}
.photo-client-liste img {
    width: 21%;
    margin: 5%;
}

.block-logs {
    margin-top: 45px;
}




.block-logo {
    position: relative;
    margin-top: 45px;
}

.block-logo p {
    color: white;
    font-family: SanFranciscoText-Bold;
    font-size: 13px;
    color: rgba(255,255,255,0.87);
    letter-spacing: 0.86px;
}



.block-profile img {
    margin-top: 30px;
    padding-bottom: 20px;
}


.block-profile p {
    font-family: Lato;
    font-size: 16px;
    color: rgba(255,255,255,0.87);
}



.menu-logout p{

    background: url(../images/logoutt.png) no-repeat 60px 1px;
    padding-left: 37px;
    color: white;
    font-family: lato;
    text-decoration: none;

}


.menu-bottom {
    position: relative;
    margin-top: 50px;
}


.menu-settings p{

    background: url(../images/settings.png) no-repeat 60px 1px;
    color: white;
    font-family: lato;
    text-decoration: none;

}



.container-client-liste {
    position: relative;
    width: 85%;
    background-color: white;
    float: left;
    height: 100vh;
}


.toolbar-client-liste{
    background-color: white;
    height: 9%;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 135px;
    margin-top: 20px;
}

.new-client-liste{
    display: flex;
}

.new-client-liste p{
    background: url(../images/add.png);

}

