

@font-face {
    font-family: 'Titillium Web', sans-serif;

}

@font-face {
    font-family: 'Roboto', sans-serif;
}



.img-home {
    width: 25%;
    margin-left: 37%;
    margin-bottom: 55px;
    margin-top: 10%;

}
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

img {
    border: 0;
    width: auto;

    vertical-align: top;
}

.block-logo img {
    width: 70%;
}

.form-login {
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
}

.login-group-input {
    width: 45%;
    margin: 0 auto;
    padding: 41px 1px 1px 1px;
}

.login-group {
    background: #FFFFFF;
    box-shadow: 0 2px 8px 1px rgba(120, 120, 120, 0.50);
    border-radius: 8px;
    width: 30%;
    height: 330px;
    margin: 0 auto;
}

.ink-navigation ul.menu.blue {
    background: #1b75ce;
    height: 88px;
}


.donne-client{

    height: 170px;
    margin-left: 17px;
    padding-top: 15px;
}

.cursor{
    cursor: pointer;
}
.tab-tache{

    padding-bottom: 15px;
}

.tab-task{
    padding-top: 25px;
}


.btn-new {
    margin: 10px;
}
.container-taches-ID {
    width: 100%;
    height: 95vh;
    border: 1px solid #dddddd;
    border-radius: 7px;
    margin-top: 18px;
}

.wrapper-taches-ID {
    background-color: #ededed;
    height: 100%;
}

.titre-taches {
    width: 100%;
    height: 20%;
    background-color: #dddddd;
}


.titre-taches h1 {
    color: black;
    text-align: center;
    padding-top: 30px;
}

.assigné_a {
    margin-left: 7%;
}

.content-taches-ID {
    width: 80%;
    margin: 6% auto 0;
}

.descr-taches {
    height: 100px;
    border-radius: 4px;
    padding: 13px;
    background-color: #dddddd;
}

.action-tache {
    margin-top: 65px;
}

.content-taches-ID h1 {
    text-align: center;
    margin-bottom: 55px;
}

.img-centrale {
    height: 75px;
}

.info-final {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.info-base-new {

    width: 150%;
    margin: 0 auto;
}
.zone-submit-new {
    margin-top: 30px;
}

.ation-toolbox {
    width: 30%;
    padding-left: 15px;
}

.form-client-new {
    margin-top: 10px !important;
}

label{
    font-size: 12pt;
}

.raison-soc {
}

.detail-client {
    margin-top: 15px;
}


.detail-client-liste p{
    margin: 3px !important;
}


.detail-client-titre p {
    margin: 9px !important;
}
.raison-soc h3 {
    font-size: 12pt;
    font-weight: 200;
    color: #4A4A4A;

}

.user_data {
    font-size: 14pt;
    font-weight: 600;
    padding-top: 25px;
    font-family: "Titillium Web";
}

.note-left {
    padding-right: 20px;
}

.loader-tache {
    height: 100px !important;
}


.recap-client-suite {
    margin-top: 40px;
}

.icon-edit {
    margin-left: 10px !important;
}

.form-edit{
    border: 0;
    border-radius: 4px;
}

.web-li{
    list-style:none;
}

.ui.labels .label, .ui.label {
    font-size: 7.5pt;
}
.info-client-detail {
    margin-left: 15px;
    padding-top: 15px;
}

.title-detail-client {
    font-size: 13pt;
    color: black;
    margin: 0 !important;
    font-family: "Titillium Web";
}

.info-client-detail {
    margin-left: 15px;
    padding-top: 15px;
}





.info-client-detail p:last-child {
    font-size: 10pt;
    font-weight: 500;
    color: black;
}

#modifierProfil{
    margin-top: 15px;
}

.el_top_tables {
    display: flex;
    justify-content: space-between;
}

.el_bottom_tables {
    display: flex;
    justify-content: space-between;
}



.vertical-divider{
    border: 0.8px solid #ccc;
    margin: 0;
    padding: 0;
    height: 203px;
    margin-top: 24px;
    background-color: #ccc;
    padding-right: 0px !important;
    padding-left: 0px!important;
}


#tab_content3{
    font-size: 10pt;
    font-family: "Titillium Web", serif;
}

#tab_content2{
    font-size: 12pt;
    font-family: "Titillium Web", serif;
}

#tab_content1{
    font-size: 12pt;
    font-family: "Titillium Web", serif;
}

.bar_tabs{
    font-size: 12pt;
}

.tab-detail-client {
    padding-top: 12px;
}

.label-background{
    background-color: #f0f5f9;
    padding: 4px;
    width: 74%;
    border-radius: 4px;
}

.input-top-tables input {
    width: 150% !important;
    height: 49px;
    border-radius: 57px;
    font-size: 20pt;
}



.historique-client {
    margin-bottom: 30px;
}

.container-hover-image {
    position: relative;
    width: 100%;
}

.image-hover-edit {
    opacity: 1;
    transition: .4s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .4s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.container-hover-image:hover .image {
    opacity: 0.3;
}

.container-hover-image:hover .middle {
    opacity: 1;
}

.text-hover-edit {
    color: black;
    background-color: #ededed;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 100%;
    padding: 16px 32px;
    height: 88px;
    padding-top: 31px;
}

.img-for-edit{

    border: 1px solid black;
}

p.task-description {
    background-color: #e8e8e8;
    padding: 10px 10px 70px 10px;
    font-size: 14pt;
    border-radius: 3px;
    word-wrap: break-word;
}

p.note-description{
    background-color: #e8e8e8;
    padding: 10px 10px 70px 10px;
    font-size: 14pt;
    border-radius: 3px;
    word-wrap: break-word;
}

.img-centrale-new-client{
    height: 75px;

}


.remember-me{
    margin-top: 10px;

}

.click-here {
    text-decoration: none;
    color: black;
    font-size: 20pt;
    font-weight: bold;
    font-family: Titillium Web, serif !important;
}

.detail-tache-home{
    display: flex;
    justify-content: space-between;
}

.pastille{


    border-radius: 50px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;

}
.blue{
    background: deepskyblue;
}
.orange{
    background: orange;
}

.green{
    background: forestgreen;
}

.red{
    background: indianred;
}

.purple{
    background: purple;
}
.state-tache-detail {
    width: 65%;
}
.detail-tache-etat{
    display: flex;
    justify-content: initial;
}

.hidden-centrale{
    display: none;
}

.justify{
    text-align: justify;
}

.pastille-detail{
    border-radius: 50px;
    display: inline-block;
    height: 20px;
    width: 6%;
    margin-left: 10px;
}

input.check-non-pa {
    margin-left: 50px;
}

.pastille-ref{
    border-radius: 50px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 10px;
}

h3.raison-soc-titre {
    font-size: 20pt;
}

#detail-client-content{
    display: none;
}




.ref-client h3 {
    font-size: 17pt;
    font-family: Helvetica Neue;
}

.ajoutuser{
    padding: 20px;
}

.detail-feed-ticket{
    font-size: 12pt;
    font-weight: 500;
}


.detail-feed-ticket-container {
    padding: 0px 0px 12px 0px;
}

.google-map-card {
    margin-left: 30%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}

.active-centrale{
    border: 5px solid #ff5050;
}

.border-red{
    border: 1px solid red;
}

.black{
    color: black;
}

.input-top-tables{
    margin-top: 16px;
}




.stat-home{
    background-color: green;
    color: white;
    padding: 6px 8px;
    border-radius: 6px;
    margin-right: 7px;
}

.little-pic-centrale img {
    width: 40px;
    margin-left: 30%;
}

.avatar_background{
    width: 30%;
    background-color: #9A9B94;
    color: white;
    height: 63px;
    border-radius: 100%;
    float: left;
    margin-top: 18px;
}

.text-avatar{
    font-family: "Roboto", serif;
    position: relative;
    left: 15px;
    top: 7px;
    font-size: 25pt;

}


.avatar_background-tiny{
    width: 40px;
    background-color: #9A9B94;
    color: white;
    height: 34px;
    border-radius: 100%;
    float: left;
    padding-right: 23px;
    margin-right: 5px;
}


.text-avatar-tiny{
    font-family: "Roboto", serif;
    position: relative;
    left: 11px;
    top: 6px;
    font-size: 11pt;
}

.avatar_background-user{
    width: 21%;
    background-color: #9A9B94;
    color: white;
    height: 66px;
    border-radius: 100%;
    float: left;
    margin-right: 19px;
    margin-top: 15px;
}


.label-client{
    padding-top: 5px;
    border-left: solid rgba(34, 36, 38, 0.15) 1px;
    border-bottom: solid 1px rgba(34, 36, 38, 0.15);
    border-top: solid 1px rgba(34, 36, 38, 0.15);
    padding-left: 13px;
    border-top-left-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    border-bottom-left-radius: 0.28571429rem;
}

.profile {
    padding-left: 10px;
}

.detail-client-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    li.paginate_button {
        display: none;
    }
}


.remove-client-label {
    padding-left: 15px;
}

.liste-users-client {
    text-align: left;
    margin-top: 25px;
    overflow: overlay;
    height: 400px;
}

.image-avatar-list{
    width: 15% !important;
    height: 15% !important;
}

.content-list-user{
    margin-top: 10px !important;
}

.avatar-feed{
    margin-right: 40px;
    width: 50px !important;
}

.green-plus {
    color: green;
}

.add-hastag-container {
    width: 100%;
    height: 64px;
    margin-top: 30px;
    margin-left: 10px;
}



.ui.feed > .event > .content {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    text-align: left;
    word-wrap: break-word;
    width: 20%;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    width: 125%;
    height: 80px;
    padding-top: 22px;
}

.historique-client-content {
    margin-bottom: 40px;
    overflow: scroll;
    height: 300px;
    padding-left: 41px;
    width: 100%;
    padding-top: 31px;
}

.round-border-tache {
    border: 3px solid black;
}

.gestion-action-note-four-container{
    width: 100%;
    border: 1px solid black;
    height: 7vh;
    margin-top: 26px;
    border-radius: 3px;
}

#add_notes_fournisseur_input_label {
    margin-top: 14px;
    margin-left: 24px;
}

#add_notes_fournisseur_input_btn{
    margin-top: 14px;
}

#add_notes_fournisseur_input_txt {
    margin-top: 20px;
    margin-left: 30px;
}

.container-search-hastag {
    width: 100%;
    margin-top: 12px;
    margin-right: 25px;
}

.hastag-container {
    width: 100%;
    height: 65%;
    margin-top: 5px;
}

.hastag-container ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 8px;
}

.hastag-container ul {
    padding-left: 0 !important;
}

.fixed_height_90 {
    height: 90px
}

.hastag_search{

    color: black;
    font-size: 40px;

}


.ui.search > .results {
    margin-top: 2.71111111em;
    width: 90%;
}

.site_title i {
    border-radius: 50%;
    margin-left: 50px;
    font-size: 25pt;
}
.nav_title{
    height: 85px;
    padding-top: 15px;
}

::-webkit-scrollbar {
    display: none;
}

#hastag-inject li a {
    font-size: 15pt;
}

.container-conso-logo img {
    width: 100%;
    margin: 10% 15%;
}

.label-consomnateur {
    width: 100%;
    height: 25%;
    border-radius: 50%;
    margin-top: 40px;
}

.table-conso{
    color: black;
    border: 1px solid black;
    width: 40% !important;
    height: 50% !important;
    margin-top: 35px;
}
p.numero-bruneau{
    margin-top: 35px;
    font-size: 15pt;
}

.btn-periode {
    margin-top: 35px !important;
}

.ca-global-h2 {
    width: 100%;
    margin-left: 35%;
}
.dropzone {
    min-height: 180px;
    border: 1px solid #e5e5e5;
}

.fixed_height_585{
    height: 585px;
}

.task-date-creation p {
    margin: 0px 0px;
}

.wtSpreader{
    background-color: #0d5aa7;
}

/* Selected row  */
/* Add a custom class name in the configuration: currentRowClassName: "foo"; */
.ht_master tr.foo > td {
    background-color: #f00;
}

.header-detail-note h4 {
    margin-top: 20px;
}

.modifier-note-home {
    margin-top: 15px !important;
}

a.link-note-client {
    margin-top: 30px;
    font-size: 25pt;
}

a.client-raisonsoc-detail-tache {
    font-size: 19pt;
    font-weight: 200 !important;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 4px;
    color: black;
    box-shadow: 0px 0px 3px black;
    background-color: #F3F7F7;
}


.container-top-ca {
    padding: 8px;
    -moz-box-shadow: 5px 5px 5px 0px #cfcfcf;
    -webkit-box-shadow: 5px 5px 5px 0px #cfcfcf;
    -o-box-shadow: 5px 5px 5px 0px #cfcfcf;
    box-shadow: 5px 5px 5px 0px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
    max-height: 100%;
}

#top-ca {
    padding: 20px;
}

#economie{
    padding: 20px;
}








@media screen and (min-width: 200px) and (max-width: 640px) {
    .login-group{
        width:75%;
    }


    .img-home {
        width: 25%;
        margin-left: 35%;
        margin-bottom: 55px;
        margin-top: 10%;
    }
}



