{% block footer %}







    <!-- footer content -->
    <footer>
        <div class="pull-right">
           ACHAT-CENTRALE CRM
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}