{% extends 'base.html.twig' %}

{% block title %}
    Importer une consommation - ACHAT-CENTRALE
{% endblock %}

{% block body %}


    <div class="x_panel">
        <div class="x_title">
            <h2><i class="shop  icon"></i> Consommations</h2>


            <div class="clearfix"></div>
        </div>



        <div class="x_content ">

            <div class="import-option row">
                <div class="col-md-4">
                    <label for="fourn-import-conso">Choix fournisseurs</label>
                    <select id="fourn-import-conso" class="form-control">
                        <option>Bruneau</option>

                    </select>
                </div>
                <div class="col-md-4">
                    <label for="datetimepicker1">Choix période</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input name="cla_echeance" type='text' class="form-control "/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>
            </div>
            <div class="row">
              {#  <div class="col-md-4">

                    <div id="table-conso-client"></div>
                </div>#}
                <div class="col-md-12">



                    <div class="zone-import-conso" id="dropzone-import">

                        <form action="{{ path('consommation-import') }}" id="import-dropzone" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>

                    </div>
                    
                    <div class="exemple-import">
                        <a href="{{ asset('Excel/test_import_crm.csv') }}">Exemple import_csv</a>
                    </div>




                </div>
            </div>
        </div>
    </div>














{% endblock %}

