{% extends 'base.html.twig' %}

{% block title %}
    CONSOMNATION - ACHAT-CENTRALE
{% endblock %}

{% block body %}



    <div class="x_panel">
        <div class="x_title">
            <h2><i class="shop  icon"></i> Consommations</h2>


            <div class="clearfix"></div>
        </div>



        <div class="x_content ">
            <div class="row">
                <div class="col-md-4">
                    <div id="table-conso-client"></div>
                </div>
                <div class="col-md-8">
                    <h2>Importer consommation</h2>



                    <div class="zone-import-conso" id="dropzone-import">

                        <form action="/file-upload" id="import-dropzone" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>














{% endblock %}

