{% extends 'base.html.twig' %}

{% block title %}
    CONSOMmATION - ACHAT-CENTRALE
{% endblock %}

{% block body %}


    <div class="x_panel">
        <div class="x_title">
            <h2><i class="shop  icon"></i> Consommations</h2>
            <a href="{{ path('import-produit-index') }}" class="ui button green" id="btn-import-produit" role="button">
                Importer des consommations
            </a>

            <div class="clearfix"></div>
        </div>



        <div class="x_content ">
            <div class="row">
                <div class="col-md-4">
                    <div id="table-conso-client"></div>
                </div>
                <div class="col-md-8">





                </div>
            </div>
        </div>
    </div>














{% endblock %}

