{% extends 'base.html.twig' %}


{% block title %}
    Détail Régions - ACHAT-CENTRALE
{% endblock %}

{%  block body %}

    <div class="" role="main">
        <div>
            <div class="row">






            </div>
        </div>
    </div>


{% endblock %}