{% extends 'base.html.twig' %}


{% block title %}
    Régions - ACHAT-CENTRALE
{% endblock %}

{%  block body %}


    <a href="{{ path("region-import") }}" class="ui green button" style="margin-bottom: 10px">Importer des régions</a>

    <div class="" role="main">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Régions <small>Achat Centrale</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Régions <small>Centrale Funecap</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Régions <small>Centrale GCCP</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Régions <small>Roc Eclerc</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}