<div class="container-general">


    <div class="container-info-client">


        <div class="container-info-progression">


            <div class="ui equal width grid">
                <div class="equal width row">
                    <div class="column">
                        <div class="container-info-gauche-status">
                            <div class="col-gauche-info">
                                <p>Status</p>
                                <p>Date d'inscription</p>
                                <p>Date d'adhésion</p>
                                <p>Date d'echeance</p>
                                <p>Ancienneté</p>
                            </div>

                            <div class="col-droite-info">
                                <p>
                                <div class="ui label">Prospect</div>
                                </p>
                                <p>

                                <div class="ui label">26/12/2016</div>


                                <p>
                                <div class="ui label">26/12/2017</div>
                                </p>
                                <p>
                                <div class="ui label">2 mois</div>
                                </p>
                                <p>
                                <div class="ui label">02/01/2017</div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column">

                        <div class="column">
                            <p>Numero d'adhésion</p>
                            <div class="ui label"> 15618-1681</div>
                            <div class="ui teal progress" data-percent="60" id="example1">
                                <div class="bar"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>


        <div class="container-info-action">
            <Header as='h2'>
                <Icon name='history'/>
                <Header.Content>
                    Historique des actions
                </Header.Content>
            </Header>

            <div class="container-info-action-table">
                <Table definition>
                    <Table.Header>
                        <Table.Row>
                            <Table.HeaderCell>Nom de l'action</Table.HeaderCell>
                            <Table.HeaderCell>Status</Table.HeaderCell>
                            <Table.HeaderCell>Responsable</Table.HeaderCell>
                            <Table.HeaderCell>Action</Table.HeaderCell>
                            <Table.HeaderCell>Autre</Table.HeaderCell>
                        </Table.Row>
                    </Table.Header>

                    <Table.Body>


                        <Table.Row>
                            <Table.Cell>Audit</Table.Cell>
                            <Table.Cell>
                                <Icon name='checkmark'/>
                            </Table.Cell>
                            <Table.Cell>
                                <p>
                                    <Label>
                                        <Icon name="user"/>
                                        Morgane
                                    </Label>
                                </p>
                            </Table.Cell>
                            <Table.Cell>
                                <Button.Group>
                                    <Button positive>Action effectué</Button>
                                    <Button.Or text='ou'/>
                                    <Button>Mettre en attente</Button>
                                </Button.Group>
                            </Table.Cell>
                            <Table.Cell>
                                <Icon class='cursor' name='file pdf outline'/>
                            </Table.Cell>
                        </Table.Row>


                        <Table.Row>
                            <Table.Cell>Envoi code d'acces</Table.Cell>
                            <Table.Cell>
                                <Icon name='wait'/>
                            </Table.Cell>
                            <Table.Cell>
                                <p>
                                    <Label>
                                        <Icon name="user"/>
                                        Morgane
                                    </Label>
                                </p>
                            </Table.Cell>
                            <Table.Cell>
                                <Button.Group>
                                    <Button positive>Action effectué</Button>
                                    <Button.Or text='ou'/>
                                    <Button>Mettre en attente</Button>
                                </Button.Group>
                            </Table.Cell>
                            <Table.Cell>
                                <Icon class='cursor' name='file pdf outline'/>
                            </Table.Cell>
                        </Table.Row>


                        <Table.Row error>
                            <Table.Cell>Envoi code promo</Table.Cell>
                            <Table.Cell>
                                <Icon name='remove'/>
                            </Table.Cell>
                            <Table.Cell>
                                <p>
                                    <Label>
                                        <Icon name="user"/>
                                        Morgane
                                    </Label>
                                </p>
                            </Table.Cell>
                            <Table.Cell>
                                <Button.Group>
                                    <Button positive>Action effectué</Button>
                                    <Button.Or text='ou'/>
                                    <Button>Mettre en attente</Button>
                                </Button.Group>
                            </Table.Cell>
                            <Table.Cell>
                                <Icon class='cursor' name='file pdf outline'/>
                            </Table.Cell>
                        </Table.Row>


                    </Table.Body>
                </Table>
            </div>


        </div>


    </div>


    </Grid.Column>

    </Grid>

</div>
</div>