<div class="container-general">


    <div class="container-info-client">


        <div class="container-info-progression">


            <div class="ui container grid">



                <div class="eight wide column">

                    <div class="ui equal width grid">
                        <div class="equal width row">
                            <div class="column">
                                <div class="col-gauche-info">
                                    <p>Status</p>
                                    <p>Date d'inscription</p>
                                    <p>Date d'adhésion</p>
                                    <p>Date d'echeance</p>
                                    <p>Ancienneté</p>
                                </div>

                            </div>
                            <div class="column">
                                <div class="col-droite-info">
                                    <p>
                                    <div class="ui orange label">Prospect</div>
                                    </p>
                                    <p>

                                    <div class="ui label">26/12/2016</div>


                                    <p>
                                    <div class="ui label">26/12/2017</div>
                                    </p>
                                    <p>
                                    <div class="ui label">2 mois</div>
                                    </p>
                                    <p>
                                    <div class="ui label">02/01/2017</div>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="eight wide column">

                    <div class="ui equal width grid">
                        <div class="equal width row">
                            <div class="column">
                                <p>Numero d'adhésion</p>
                            </div>
                            <div class="column">
                                <div class="ui label"> 15618-1681</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui teal progress" data-percent="60" id="example1">
                        <div class="bar"></div>
                    </div>
                </div>

            </div>



            </div>


        </div>


        <div class="container segment container-info-action">

            <h2 class="ui header">
                <i class="history icon"></i>
                <div class="content"> Historique des actions</div>
            </h2>

            <div class="container-info-action-table">


                <table class="ui definition table">
                    <thead>
                    <tr><th></th>
                        <th>Status</th>
                        <th>Responsable</th>
                        <th>Action</th>
                        <th>Autre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Audit</td>
                        <td><i class="checkmark icon"></i></td>
                        <td><i class="user icon"></i> Morgane</td>
                        <td>
                            <div class="ui buttons">
                                <button class="ui button">Action terminé</button>
                                <div class="or" data-text="ou"></div>
                                <button class="ui positive button">Mettre en attente</button>
                            </div>
                        </td>
                        <td>
                            <i class="file pdf outline icon"></i>
                        </td>
                    </tr>

                    </tbody></table>

            </div>


        </div>


    </div>




</div>
</div>