{% extends 'base.html.twig' %}

{% block title %}
    Import produit - ACHAT-CENTRALE
{% endblock %}

{% block body %}


    <h1>Gestion des imports produits <a href="{{ path('import-produit-index') }}" class="ui green button" > <i class="plus icon"></i>Importer des produits</a></h1>




    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="cloud upload icon"></i> Vos derniers imports</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table class="table table-striped">
                        <tbody>
                        {% for t in tempo %}
                            {% if t["PR_TEMPO"] == "" %}


                                {% else  %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('import-check', { 'id_import' : t["PR_TEMPO"] }) }}" style="font-size: 16pt">{{ t["PR_TEMPO"] }}</a>
                                        </td>
                                    </tr>
                            {% endif %}
                        {% endfor %}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="x_panel">


                <div class="x_content">


                </div>
            </div>
        </div>
    </div>

    <div class="x_panel">



        <div class="x_content ">


        </div>
    </div>














{% endblock %}

