{% include 'base.html.twig' %}


{% block body %}


    <img class="img-home" src="{{ asset('images/logo-achatcentrale.png') }}" alt="Logo">


    <div class="login-group">



        <form action="{{ path('login') }}" class="ink-form form-login" method="post">

            <div class="control-group">
                <label for="username">Nom d'utilisateur:</label>
                <div class="control">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
            </div>

            <div class="control-group">
                <label for="password">Mot de passe :</label>
                <div class="control">
                    <input type="password" id="password" name="_password" />
                </div>


            </div>

            <input type="checkbox" id="remember_me" name="_remember_me"  checked >
            <label for="remember_me">Maintenir ma session ouverte</label>

            <button type="submit" class="ink-button green btn-login">Se connecter</button>
        </form>

        {% if error %}
            <div ><p class="align-center error-login">{{ error.message | replace({"Bad credentials." : "Identifiant incorrecte"}) }}</p></div>
        {% endif %}

    </div>


{% endblock %}