<div class="container-adresse-general">
    <div class="adresse-agence">




        <div class="ui raised very padded text container segment">

            <h2 class="ui center aligned icon header"> Adresse de l'agence </h2>
            {% for clients in client %}


                {% if clients.caType == "L" %}
                    {{ clients.caRaisonsoc }}

                {% endif %}

                <br>

                {% if clients.caType == "F" %}
                    {{ clients.caRaisonsoc }}

                {% endif %}

            {% endfor %}


{{ dump(client) }}
            <p></p>
            <p></p>
        </div>



    </div>
</div>