<div class="container-adresse-general">
    <div class="adresse-agence">


        <div class="ui equal width grid">
            <div class="equal width row">
                <div class="column">
                    <h4>Adresse de livraison</h4>
                </div>
                <div class="column">
                    <h4>Adresse de Facturation</h4>
                </div>
            </div>
        </div>




    </div>
</div>



